@charset "UTF-8";
/* CSS Document */


/* Control Panel css ---------------------------------------------------------*/
.device-label {
    position: relative;
    float: left;
    top: -5px;
    width: 40px;
}

.horizontal-checkbox {
    position: relative;
    float: left;
    margin-left: 1%;
    top: -10px;
}

.horizontal-time {
    position: relative;
    float: left;
    margin-left: 1%;
    width: 155px;
    height: 85px;
    top: -40px;
    text-align: center;
}

.inline {
    display: inline-block !important;
}

.ui-btn-active {
    background-color: #e9e9e9 !important;
    border-color: #ddd !important;
    color: #333 !important;
    text-shadow: 0 1px 0 #f3f3f3 !important;
}

/* Logo and info on footer css. index.html and sensordata.html require it-----*/
#logo-footer {
    position: relative;
    float: left;
    margin-left: 35%;
    margin-top: 5px;
    /*margin-left: 0 auto;
    margin-right: 0 auto;*/
}
#title-footer {
    position: relative;
    float: left;
    margin-left: 12px;
}
#connectionStatus {
    position: relative; 
    float: right;
    margin-right: 3%;
    margin-top: 12px;
}